.Rproj.user
.Rhistory
.RData
.Ruserdata

/plots/HU_vs_Well_Density_1990_2010.html
/figures/data/spatial/
/figures/DR_RW_v_NHU.pptx
/data/geopackage/
/data/rasters/County_HU_Densities_1990/
/data/rasters/County_HU_Densities/2000/
/data/rasters/County_Well_Densities_1990/
/data/rasters/progress/
/data/shapefiles/
/data/Well_Estimates/Blocks_By_State_shp
/data/Well_Estimates/Estimates_Public.gpkg
/data/Well_Estimates/final_estimates_blocks.csv
/data/tables/
EpaMethod_ForNate/R_Project_Goes_Here.txt
EpaMethod_ForNate/data/tables/nhgis_ds172_2010_blck_grp_codebook.txt
EpaMethod_ForNate/data/tables/nhgis_ds172_2010_blck_grp.csv
EpaMethod_ForNate/data/tables/nhgis_ds147_2000_blck_grp_codebook.txt
EpaMethod_ForNate/data/tables/nhgis_ds147_2000_blck_grp.csv
EpaMethod_ForNate/data/tables/nhgis_ds123_1990_blck_grp_codebook.txt
EpaMethod_ForNate/data/tables/nhgis_ds123_1990_blck_grp.csv
EpaMethod_ForNate/data/tables/nhgis_ds120_1990_blck_grp_codebook.txt
EpaMethod_ForNate/data/tables/nhgis_ds120_1990_blck_grp.csv
EpaMethod_ForNate/data/tables/nhgis0011_ds107_1980_tract_codebook.txt
EpaMethod_ForNate/data/tables/nhgis0011_ds107_1980_tract.csv
EpaMethod_ForNate/data/tables/nhgis0011_ds104_1980_tract_codebook.txt
EpaMethod_ForNate/data/tables/nhgis0011_ds104_1980_tract.csv
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.shx
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.shp.xml
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.shp
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.sbx
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.sbn
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.prj
EpaMethod_ForNate/data/shapefiles/US_tractcounty_1980.dbf
EpaMethod_ForNate/data/shapefiles/US_tract_1980.shx
EpaMethod_ForNate/data/shapefiles/US_tract_1980.shp.xml
EpaMethod_ForNate/data/shapefiles/US_tract_1980.shp
EpaMethod_ForNate/data/shapefiles/US_tract_1980.sbx
EpaMethod_ForNate/data/shapefiles/US_tract_1980.sbn
EpaMethod_ForNate/data/shapefiles/US_tract_1980.prj
EpaMethod_ForNate/data/shapefiles/US_tract_1980.dbf
EpaMethod_ForNate/data/shapefiles/US_bna_1980.shx
EpaMethod_ForNate/data/shapefiles/US_bna_1980.shp.xml
EpaMethod_ForNate/data/shapefiles/US_bna_1980.shp
EpaMethod_ForNate/data/shapefiles/US_bna_1980.sbx
EpaMethod_ForNate/data/shapefiles/US_bna_1980.sbn
EpaMethod_ForNate/data/shapefiles/US_bna_1980.prj
EpaMethod_ForNate/data/shapefiles/US_bna_1980.dbf
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2010.shx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2010.shp.xml
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2010.shp
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2010.prj
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2010.dbf
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.shx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.shp.xml
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.shp
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.sbx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.sbn
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.prj
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.GISJOIN.atx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.dbf
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000_tl10.cpg
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.shx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.shp.xml
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.shp
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.sbx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.sbn
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.prj
EpaMethod_ForNate/data/shapefiles/US_blck_grp_2000.dbf
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.shx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.shp.xml
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.shp
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.sbx
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.sbn
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.prj
EpaMethod_ForNate/data/shapefiles/US_blck_grp_1990.dbf
